.galery {
  display: flex;
  margin-top: 170px;
  height: auto;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1440px) {
  .galery {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .galery {
    flex-direction: column;
  }
}

.galery__headline {
  position: relative;
  max-width: 500px;
  z-index: 5;
}

@media screen and (max-width: 1500px) {
  .galery__headline {
    max-width: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .galery__headline {
    max-width: 330px;
  }
}

@media screen and (max-width: 1024px) {
  .galery__headline {
    max-width: 100%;
  }
}

.galery__headline > h2 {
  margin-top: 165px;
  font-family: "Crimson", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--color-black);
  padding-left: 20px;
}

@media screen and (max-width: 1440px) {
  .galery__headline > h2 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .galery__headline > h2 {
    font-size: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 800px) {
  .galery__headline > h2 {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding-left: 0px;
    text-align: left;
  }
}

@media screen and (max-width: 375px) {
  .galery__headline > h2 {
    font-size: 26px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.slider-container {
  width: 95%;
  position: absolute;
  top: 10px;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .slider-container {
    position: static;
    width: 100%;
  }
}

.btn-slider {
  z-index: 15;
}

.paginationsBlock {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 80px 0 0 auto;
  position: relative;
}

@media screen and (max-width: 1440px) {
  .paginationsBlock {
    width: 180px;
    margin: 40px 0 0 auto;
    top: -5px;
  }
  .paginationsBlock > button > svg {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 800px) {
  .paginationsBlock > button {
    display: none;
  }
  .paginationsBlock {
    width: 180px;
    margin: 20px auto 0 auto;
    top: 0px;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  position: absolute;
  top: -15px;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    position: static;
    top: 0px;
  }
  .swiper-pagination-lock {
    display: block !important;
  }
  .swiper-button-lock {
    display: block !important;
  }
}

.swiper-pagination-current {
  font-family: "Crimson", serif;
  font-weight: 400;
  font-size: 56px !important;
  color: var(--color-black) !important;
}

.swiper-pagination-total {
  font-family: "Crimson", serif;
  font-weight: 400;
  font-size: 20px !important;
  color: var(--color-gray) !important;
}

@media screen and (max-width: 1440px) {
  .swiper-pagination-current {
    font-size: 36px !important;
  }
}

@media screen and (max-width: 375px) {
  .swiper-pagination-current {
    font-size: 26px !important;
  }
}

.sliderCard > img {
  width: 513px;
  height: 704px;
}

@media screen and (max-width: 1440px) {
  .sliderCard > img {
    width: 413px;
    height: 563px;
  }
}

@media screen and (max-width: 768px) {
  .sliderCard > img {
    width: 350px;
    height: 435px;
  }
}

@media screen and (max-width: 425px) {
  .sliderCard > img {
    width: 270px;
    height: 366px;
  }
}

.swiper-slide {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .swiper-slide {
    opacity: 1;
  }
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-active ~ .swiper-slide {
  opacity: 1;
}
