.primary-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.primary {
  margin-top: 40px;
  background-image: url(../images/house.webp);
  background-repeat: no-repeat;
  background-position: right;
  min-height: 781px;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 1650px) {
  .primary {
    margin-top: 0px;
    background-size: 900px;
    min-height: 650px;
  }
}

@media screen and (max-width: 1300px) {
  .primary {
    background-size: 800px;
    background-position: 60vw;
  }
}

@media screen and (max-width: 680px) {
  .primary {
    min-height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .primary {
    background-position: 60vw;
    background-size: 700px;
  }
}

@media screen and (max-width: 425px) {
  .primary {
    min-height: 510px;
  }
}

.primary__text {
  width: 675px;
  font-family: "Crimson", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: #3c2c26;
  padding-top: 80px;
  -webkit-animation-name: text;
  -webkit-animation-duration: 0.5s;
  animation-name: text;
  animation-duration: 0.5s;
}

@-webkit-keyframes text {
  from {
    margin-left: -1300px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes text {
  from {
    margin-left: -1300px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@media screen and (max-width: 1460px) {
  .primary__text {
    width: 40%;
  }
}

@media screen and (max-width: 1380px) {
  .primary__text {
    width: 35%;
  }
}

@media screen and (max-width: 1300px) {
  .primary__text {
    width: 60%;
    padding-top: 80px;
  }
}
@media screen and (max-width: 680px) {
  .primary__text {
    padding-top: 50px;
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .primary__text {
    padding-top: 70px;
  }
}

@media screen and (max-width: 425px) {
  .primary__text {
    padding-top: 50px;
  }
}

@media screen and (max-width: 375px) {
  .primary__text {
    width: 90%;
  }
}

.primary__text > span {
  font-family: "Crimson", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .primary__text > span {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .primary__text > span {
    font-size: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .primary__text > span {
    font-size: 24px;
    line-height: 24px;
  }
}

.primary__text > span > h1 {
  font-family: "Crimson", sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 72px;
  margin: 5px 0 5px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
  .primary__text > span > h1 {
    font-size: 50px;
    line-height: 62px;
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .primary__text > span > h1 {
    font-size: 45px;
    line-height: 42px;
  }
}

@media screen and (max-width: 425px) {
  .primary__text > span > h1 {
    font-size: 32px;
    line-height: 34px;
    margin: 15px 0 15px 0;
  }
}

.primary__text > h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-top: 55px;
  width: 80%;
}

@media screen and (max-width: 1440px) {
  .primary__text > h3 {
    margin-top: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .primary__text > h3 {
    font-size: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 500px) {
  .primary__text > h3 {
    font-size: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .primary__text > h3 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 18px;
  }
}

.text__block {
  display: flex;
  margin-top: 95px;
  align-items: center;
}

@media screen and (max-width: 1770px) {
  .text__block {
    margin-top: 45px;
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 800px) {
  .text__block {
    margin-top: 25px;
  }
}

@media screen and (max-width: 649px) {
  .text__block {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .text__block {
    width: 215px;
  }
}

.text__block > a:first-child {
  margin-right: 40px;
}

@media screen and (max-width: 1820px) {
  .text__block > a:first-child {
    margin-right: 10px;
  }
}

.text__block > a > button {
  width: 211px;
  height: 49px;
  border-radius: 50px;
  font-family: "Crimson", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  background-color: #776053;
  color: #ffffff;
}

.block__confirmation {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1770px) {
  .block__confirmation {
    margin-top: 20px;
  }
}

.block__confirmation > svg {
  margin-right: 10px;
  width: 33px;
  height: 33px;
}

.block__confirmation > p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

@media screen and (max-width: 425px) {
  .block__confirmation > p {
    width: 200px;
  }
  .block__confirmation > svg {
    width: 23px;
    height: 23px;
  }
}

.block__confirmation > p > a {
  color: #776053;
  text-decoration: underline;
}

.primary__info {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 442px;
  height: 125px;
  z-index: 5;
  background-color: #fff9e8;
  border-top-left-radius: 70px;
}

.primary__infoMin {
  display: none;
}

@media screen and (max-width: 680px) {
  .primary__infoMin {
    display: block;
    margin-top: 10px;
    width: auto;
  }
  .primary__infoMin > svg {
    width: 33px;
    height: 33px;
  }
}

@media screen and (max-width: 1650px) {
  .primary__info {
    bottom: 70px;
  }
}

@media screen and (max-width: 1300px) {
  .primary__info {
    bottom: 65px;
    width: 300px;
    height: 80px;
  }
}

@media screen and (max-width: 680px) {
  .primary__info {
    background-color: transparent;
    border-top-left-radius: 0px;
    height: auto;
  }
}

@media screen and (max-width: 877px) {
  .primary__info {
    bottom: 90px;
  }
}

@media screen and (max-width: 800px) {
  .primary__info {
    bottom: 60px;
  }
}

@media screen and (max-width: 680px) {
  .primary__info {
    display: none;
  }
}

.info__block {
  margin-top: 40px;
  margin-left: 30px;
  padding-right: 150px;
  display: flex;
}

@media screen and (max-width: 1300px) {
  .info__block {
    margin-top: 20px;
    margin-left: 40px;
    padding-right: 0px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .info__block {
    margin-left: 30px;
  }
}

@media screen and (max-width: 680px) {
  .info__block {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.info__block > svg {
  margin-right: 10px;
}

@media screen and (max-width: 425px) {
  .info__block > svg {
    width: 23px;
    height: 23px;
  }
}

.info__block > p {
  font-family: "Crimson Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  position: relative;
}

@media screen and (max-width: 680px) {
  .info__block > p {
    font-size: 14px;
    line-height: 14px;
  }
}

.primary__img > img {
  max-width: 1035px;
}
