.services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 352px);
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 25px;
  margin: 65px auto 0 auto;
}

@media screen and (max-width: 768px) {
  .cards {
    margin: 30px auto 0 auto;
  }
}

.card {
  width: 352px;
  height: 490px;
  position: relative;
  text-align: center;
  filter: drop-shadow(30px 10px 40px rgba(60, 44, 38, 0.15));
}

@media screen and (max-width: 375px) {
  .card {
    width: 300px;
    height: 440px;
  }
}

.card-content {
  position: absolute;
  top: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .card-content {
    top: 30px;
  }
}

.card-content > img {
  width: 260px;
}

.card-content > p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin-top: 10px;
  padding: 0 30px 0 20px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .card-content > p {
    margin-top: 0px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 375px) {
  .card-content > p {
    font-size: 16px;
    line-height: 18px;
  }
}

.index1 {
  z-index: 4;
}
.index2 {
  z-index: 3;
}
.index3 {
  z-index: 2;
}
.index4 {
  z-index: 1;
}
