@import "./header.css";
@import "./primary.css";
@import "./services.css";
@import "./galery.css";
@import "./modals.css";
@import "./normalize.css";

@font-face {
  font-family: "Crimson";
  src: url(../font/Crimson-Roman.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

:root {
  --color-black: rgba(60, 44, 38, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-primary: rgba(255, 249, 232, 1);
  --color-gray: rgba(119, 96, 83, 1);
  --color-blackmodal: rgba(0, 0, 0, 1);
  --color-link: #776053;
  --color-logo: #1e1e1f;
  --color-header: #333333;
  --color-callbut: #000000;
  --color-bisque: bisque;
  --color-51: rgba(51, 51, 51, 1);
  --color-131: rgba(133, 133, 133, 1);
  --color-text: #3c2c26;
}

body {
  margin: 0 auto;
  padding: 0;
  background-image: url(../images/background.webp);
  width: 100%;
  background-repeat: repeat-x;
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

.wrapper {
  max-width: 1504px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.wrapper2 {
  max-width: 1544px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.line {
  position: absolute;
  top: 1440px;
  z-index: -1;
}

.line > svg {
  width: 100%;
}

@media screen and (max-width: 1517px) {
  .line {
    top: 1840px;
  }
}

@media screen and (max-width: 753px) {
  .line {
    top: 2800px;
  }
}
@media screen and (max-width: 375px) {
  .line {
    top: 2600px;
  }
}

.section-height {
  height: 300px;
}

@media screen and (max-width: 1280px) {
  .section-height {
    height: 200px;
  }
}

@media screen and (max-width: 1280px) {
  .section-height {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .section-height {
    height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .section-height {
    height: 20px;
  }
}
